.exTab li a,.exTab li.active a{padding:1px 13px 0 10px;}
#bookmarkList ul{padding:10px;margin:0}
#bookmarkList .tag{right:0;position:static;height:20px;background:url("./addons/planet_bookmark/tag.gif") no-repeat left center;padding-left:20px}
#bookmarkList li{list-style:none;margin:2px 0;border-bottom:1px solid #eee}
.commentList .commentHeader h3.exTitle{margin-bottom:10px}
.exTab li.active{top:2px}
